.DS_Store
.idea/
.vs/
SoruxBot.Kernel/bin
SoruxBot.Kernel/obj
SoruxBot.SDK/bin
SoruxBot.SDK/obj
SoruxBot.Wrapper/obj
SoruxBot.Wrapper/bin
SoruxBot.SDK.QQ/bin
SoruxBot.SDK.QQ/obj
SoruxBot.Provider.QQ/bin
SoruxBot.Provider.QQ/obj
